<footer>
<a href="https://fathm.co" target="_blank"><img src="/images/fathm.png" style="width:100px;height:98.5px;" class="center"></a>
<a href="https://fathm.co" target="_blank"><img src="/images/fathm_word.png" style="width:211px;height:72px;" class="center"></a>
<p>
  The site is maintained by <a href="https://fathm.co">Fathm</a> for use by journalists around the world covering COVID-19. <br>
  Find the repo on <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
