<header>
<br>
<h2>COVID-19 Social Monitoring Toolkit</h2>
<provided>provided by <a href="http://fathm.co" target="_blank">Fathm   </a><a href="https://fathm.co" target="_blank"><img src="/images/fathm.png" style="width:15px;height:14.8px;"></a></provided>

  <ul class="nav">
    <li>
      <a href="/introduction">Introduction<small>why social monitoring</small></a>
    </li>
    <li>
      <a href="/getstarted">Getting started<small>search strings + set-up</small></a>
    </li>
    <li>
      <a href="/community">Community<small>engage your audience</small></a>
    </li>
    <li>
      <a href="/verification">Verification<small>check the facts</small></a>
    </li>
    <li>
      <a href="/publishing">Publishing<small>tell your story</small></a>
    </li>
    <li>
      <a href="/resources">Resources<small>find out more</small></a>
    </li>
    <li>
      <a href="/cllaborate">Collaborate<small>work together</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
