<header>
  <ul class="nav">
    <li>
      <a href="/">Introduction<small>what is social monitoring</small></a>
    </li>
    <li>
      <a href="/about">Getting started<small>search strings and monitoring set-up</small></a>
    </li><li>
      <a href="another">Community Engagement<small>woorking with your audience</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
