<header>
  <ul class="nav">
    <li>
      <a href="/introduction">Introduction<small>why social monitoring</small></a>
    </li>
    <li>
      <a href="/getstarted">Getting started<small>search strings + set-up</small></a>
    </li>
    <li>
      <a href="/community">Community<small>engage your audience</small></a>
    </li>
    <li>
      <a href="/verification">Verification<small>check the facts</small></a>
    </li>
    <li>
      <a href="/publishing">Publishing<small>tell your story</small></a>
    </li>
    <li>
      <a href="/about">About<small>about Fathm</small></a>
    </li>
  </ul>
  <h3 
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
