---
title: Verification
layout: layouts/base.njk
subtitle: How do you know what you've found is real?
---

<div class="quicknav" id="nav">
	Jump to:<br>
<ul>>> <a href="#sourceverification">Source Verification</a></ul>
<ul>>> <a href="#contentverification">Content Verification</a></ul>
</div>

Any content sourced from social platforms requires rigorous verification — either to spot viral dis/misinformation, or to approve user-generated content (UGC) for publication or broadcast. Every newsroom should agree its own process of verification (and document that process). We suggest two starting points, which can be verified in parallel:

- **Source verification:** is the account which posted the content you found a real person? Are they really where they claim to be? Or are they a “bot” or “sockpuppet”, or someone trying to trick journalists?
- **Content verification:** is the content original? Was it created by the source that has posted it? Has it been manipulated? 

Read below for some strategies for verifying content you’ve found via social monitoring.

<h3 id="sourceverification">Source Verification</h3>


<div class="example">

*Example:* The image seen below went viral on social media in India and was widely shared on closed-messaging apps as well. It was circulated with text suggesting that the Indian flag was projected on the Matterhorn in the Alps, as Switzerland showed solidarity towards India in its fight against the COVID-19 pandemic. How do we find out if the photo is real or fake, in the absence of any fact-checked reports on the Internet?

<img src="/images/verification1.png" class="center, responsive">

Start by searching for keywords “Matterhorn Indian flag” or carry out a reverse image search. Through this process you are likely to land on the Instagram page of “Zermatt.Matterhorn” where you will find this image and similar images of flags from other countries beamed on the Matterhorn. 

<img src="/images/verification2.png" class="center, responsive">

But who is running this account? The Instagram profile suggests that the account promotes tourism for Zermatt and Matterhorn. The blog mentioned on the profile could be a useful place to look for more information.  

<img src="/images/verification3.png" class="center, responsive">

The image of the Indian flag has been posted there too. There’s also a link to other social media accounts associated with the blog, which may offer useful information about who clicked the image. The Facebook page for the blog too has carried the image on it’s timeline with the names of the two people who are behind the image. 

<img src="/images/verification4.png" class="center, responsive">

The Instagram accounts of both the individuals carry this image. Besides, the work produced by both these men can be seen at several places online.  

The steps followed above helped establish that this is a genuine photo produced by real people and posted through a genuine social media profile.  
</div>

* Trace the digital footprint of the content you are interested in, to see when it first appeared online and who posted it.  

* Is the source a legit news organisation ?  

* In case the uploader appears to be an individual or a group that you haven’t come across before, search for their social profile online. Establish whether it’s a legit account or is it a fake or parody account. 

* The uploader’s username/login is a good starting point to discover more information about them.   

* Google the username with quotation marks, especially if it is a unique combination. Typically most people use the same username, with slight variations, across different sites. 

* Try searching the username for specific services, such as a popular email domain or Skype.

* Check out the content that has been published from the same account previously to gauge their possible motivations to share false information. Example: have they been promoting a cure for COVID-19 that no one else is talking about? 

* If the user has a Twitter account look, for lists created by that user on Twitter, who do they follow? Who are their followers ? 

* Check out the public pages followed by them on Facebook or groups they are part of there. 

* Some people use the same profile photograph on different sites, even when they use different usernames.

* Conduct a reverse image search on photographs that you find associated with your research subject, and use that to find as many new details as possible.

<div class="indent"><ul>
<li>>> Some online message boards will show the IP address of the poster.</li>
<li>>> Twitter’s account recovery option for an account reveals a few digits of the registered email address and/or phone number.</li>
<li>>> Google Plus profiles can lead to YouTube accounts.</li>
</ul></div>

* Is the uploader the owner of the content? Many people are unaware that the owner of a photograph/video is the one who has clicked the photo or recorded the video. The person(s) featured in a photograph/video or the owner(s) of the equipment with which that content has been captured do NOT own it. 

* Beware that many websites simply scrape content.  

* If no source information can be traced, do not use that material to avoid getting into ethical/legal issues.   

* If you are able to establish that an uploader belongs to an extremist organisation or a terror outfit, do not use that content as you do not want to give them any kind of publicity. 

<div class="quicknav">
<a href="#top">Back to top.</a>
</div>

<h3 id="contentverification">Content Verification</h3>

After playing Sherlock, if you discover that the uploader of the UGC that interests you is someone who appears credible, you still cannot take that content at face value. You need to verify it to judge whether it is manipulated, fake, or perhaps satirical content. Remember you are ONLY interested in genuine UGC.  

* You should be able to answer at least the following questions during the verification process:  

* Is there any evidence of manipulation in the image, video, or audio that you are investigating ? 

* Does the content actually pertain to the event or subject that you are investigating? Example: *An image showing currency strewn on a street was circulating on social media. The text with that image read that people in Italy had thrown all their money on the street saying that it will not save them from death during the COVID-19 outbreak. It was actually an old image from Venezuela that had nothing to do with the COVID-19 pandemic.*   

* Is a statistic, quote, or interview being used out of context ? Example: an official or celebrity may have said something but words from their exact quote are omitted and the meaning is changed.

* If the UGC that you are evaluating does not have any other trace on the Internet, it could either be fake or it may be hyperlocal content. 
  
* Check the comments and description posted with the content on public platforms, it may lead to useful cues about the veracity of the content. 

* Building the following questions into your workflow could help create an efficient verification strategy: 

<div class="indent"> <ul>
<li>>> Which leads do you need to prioritise in terms of verification/debunking?</li> 
<li>>> Is it being widely shared on social media or closed messaging apps?</li>
<li>>> How likely is it to be taken seriously?</li>
<li>> If it is taken seriously, what is the magnitude of the harm that it can do?</li>
</ul></div>

* Combining these judgments, you can “triage” what needs to be dealt with as a matter of priority. 

* How do you begin to tackle a piece of content that needs verification?

<div class="indent"> <ul>
<li>>> Identify the specific claim(s) being made?</li>
<li>>>Identify which of those claims can actually be verified/debunked? Eg: if a politician makes a definitive statement about how soon his/her country’s economy will bounce back after businesses have been hit globally by the COVID-19 pandemic, you are unlikely to immediately find evidence against which you could verify that claim.</li>  
<li>Identify how you are going to go about verification of claims ? Example: what official sources, figures, documentation etc. can you use.</li>
<li>Here’s [a link to tools](https://www.osintessentials.com/) widely used by the fact-checking and open source investigation community.</li></ul></div>

<div class="example">

*Example:* Various iterations of the images seen below were predominantly circulated on closed messaging apps in India as the spread of COVID-19 was being reported across the country. The text/audio accompanying these images suggested that the act of licking spoons and touching plates was a deliberate attempt to spread the pandemic by members of a particular religion.   
<img src="/images/verification5.png" class="center, responsive">

Through a reverse image search these images could be traced to a video that has been on the Internet *since 2018* at least. The earliest cases of COVID-19 were reported from Wuhan, China in *late 2019*. So, this establishes that these images are not linked to COVID-19.  

<img src="/images/verification6.png" class="center, responsive"> 
</div>

<br>

<div class="quicknav">
<a href="#top">Back to top.</a>
</div>