---
title: Verification
layout: layouts/base.njk
subtitle: How do you know what you've found is real?
---

Any content sourced from social platforms requires rigorous verification - either to spot viral dis/misinformation, or to approve UGC for publication or broadcast. Every newsroom should agree its own process verification (and document that process). We suggest two starting points, which can be verified in parallel:

- **Source verification:** is the account which posted the content you found a real person? Are they really where they claim to be? Or are they a “bot” or “sockpuppet”, or someone trying to trick journalists?
- **Content verification:** is the content original? Was it created by the source that has posted it? Has it been manipulated? 

Read below for some strategies for verifying content you’ve found via social monitoring.

### Source Verification

### Content Verification